<div class="container">
  <div class="info-block" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">
    <div class="card" *ngFor="let statistic of topInfo">
      <div class="statistic">
        <span class="title">{{ statistic.title }}</span>
        <span class="value">{{ statistic.value }}</span>
      </div>
      <img class="statistic-img" [src]="statistic.photo" alt="statistic">
    </div>
  </div>

  <div class="chart">
    <span class="chart-title">Vacancies Distribution</span>
    <canvas baseChart
            [options]="barChartOptions"
            [type]="barChartType"
            [data]="barChartData">
    </canvas>
  </div>
</div>
