<div class="container">
  <div class="title">
    <h1 class="title-name">About Us</h1>
  </div>

  <div class="story">
    <div class="story-content">
      <h2 class="story-title">our story</h2>
      <p class="story-text">In today's fast-paced tech world, we're trying to change<br>
        how people explore IT careers. With creativity and<br>
        determination, we're building a top-notch web app to<br>
        help users navigate job hunting and grab new<br>
        opportunities.</p>
    </div>
    <img class="story-img" src="/assets/images/story.png" alt="story">
  </div>

  <div class="team">
    <h2 class="team-title">the team</h2>

    <div class="card-team">
      <div class="card">
        <img class="card-img" src="/assets/images/team1.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Andrew Konoplastiy</h3>
          <p class="role">Full Stack</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="/assets/images/team1.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Eddie Stephens</h3>
          <p class="role">QA Engineer</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="/assets/images/team1.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Jon Harrison</h3>
          <p class="role">UI/UX designer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="value">
    <img class="value-img" src="/assets/images/value.png" alt="value">
    <div class="value-content">
      <h2 class="value-title">value</h2>
      <p class="value-text">We're dedicated to providing our users with top-notch<br>
        experiences. Our platform is more than just a job<br>
        search tool; it's a comprehensive resource offering<br>
        personalized insights, tools, and opportunities. With a <br>
        focus on excellence and continual improvement, we <br>
        strive to be the ultimate destination for anyone aiming<br>
        for success in the dynamic IT industry.</p>
    </div>
  </div>
</div>
