$font-family: Montserrat, sans-serif;
$blue-gray-color: #171A1F;
$max-width: 1300px;


.container {

  h2 {
    font-family: $font-family;
    font-weight: bold;
    margin-left: 40px;
    color: $blue-gray-color;
    font-size: 64px;
    text-transform: uppercase;
  }

  .story-img, .value-img, .card-img {
    width: 600px;
    border-radius: 20px;
  }

  .title {
    display: flex;
    width: 100%;
    height: 450px;
    background: url('/assets/images/about_bg.png') center (center / cover) no-repeat;

    .title-name {
      margin: auto auto;
      font-family: $font-family;
      font-size: 96px;
      font-weight: bold;
      color: $blue-gray-color;
      text-transform: uppercase;
    }
  }

  .story {
    display: flex;
    align-items: center;
    margin: 100px auto;
    max-width: $max-width;
    justify-content: space-between;

    .story-content {
      max-width: 600px;

      .story-text {
        margin-top: 40px;
        font-family: $font-family;
        font-size: 20px;
        line-height: 38px;
        word-break: break-word;
      }
    }
  }

  .team {
    height: 800px;
    margin: 100px auto;
    background-color: #F5F5F5;
    padding: 100px 0;

    .team-title {
      font-family: $font-family;
      font-weight: bold;
      color: $blue-gray-color;
      font-size: 64px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 60px;
    }

    .card-team {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      max-width: $max-width;

      .card {

        .card-img {
          width: 350px;
          height: 450px;
        }

        .card-content {
          margin-top: 45px;

          .name {
            font-family: $font-family;
            font-weight: bold;
            color: $blue-gray-color;
            font-size: 32px;
            line-height: 26px;
            text-align: center;
          }

          .role {
            font-family: $font-family;
            margin-top: 13px;
            color: $blue-gray-color;
            font-size: 22px;
            text-align: center;
          }
        }
      }
    }
  }

  .value {
    display: flex;
    align-items: center;
    margin: 100px auto;
    max-width: $max-width;
    justify-content: space-between;

    .value-content {
      max-width: 600px;

      .value-text {
        margin-top: 40px;
        font-family: $font-family;
        font-size: 20px;
        line-height: 38px;
        word-break: break-word;
      }
    }
  }
}
