<div class="container">
  <div class="title">
    <h1 class="title-name">{{ "About us" | translate }}</h1>
  </div>

  <div class="story">
    <div class="story-content">
      <h2 class="story-title">{{ "Our story" | translate }}</h2>
      <p class="story-text">{{ "Story text" | translate }}</p>
    </div>
    <img class="story-img" src="/assets/images/story.png" alt="story">
  </div>

  <div class="team">
    <h2 class="team-title">{{ "The team" | translate }}</h2>

    <div class="card-team">
      <div class="card">
        <img class="card-img" src="/assets/images/team1.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Andrew Konoplastiy</h3>
          <p class="role">Full Stack</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="/assets/images/team2.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Eddie Stephens</h3>
          <p class="role">QA Engineer</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="/assets/images/team3.png" alt="team1">
        <div class="card-content">
          <h3 class="name">Jon Harrison</h3>
          <p class="role">UI/UX designer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="value">
    <img class="value-img" src="/assets/images/value.png" alt="value">
    <div class="value-content">
      <h2 class="value-title">{{ "Value" | translate }}</h2>
      <p class="value-text">{{ "Value text" | translate }}</p>
    </div>
  </div>
</div>
