<div class="container">
  <div class="filter-title">
    <div class="hamburger" [ngClass]="{'change': filtersActive}" (click)="toggleFilters()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <h3 class="title" translate>{{ 'FILTERS' | translate }}</h3>
  </div>

  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="applyFilters()">
    <div class="conditional" formArrayName="platformName">
      <h3 class="sub-title">{{ 'Platform' | translate }}</h3>
      <div class="options-container">
        <label *ngFor="let platform of platformName; let i = index">
          <input type="checkbox" [formControlName]="i"> {{ platform }}
        </label>
      </div>
    </div>

    <div class="conditional" formArrayName="experienceLevel">
      <h3 class="sub-title">{{ 'Level of experience' | translate }}</h3>
      <div class="options-container">
        <label *ngFor="let exp of experienceLevels; let i = index">
          <input type="checkbox" [formControlName]="i"> {{ exp }}
        </label>
      </div>
    </div>

    <div class="salary" formGroupName="salary">
      <h3 class="sub-title">{{ 'Salary' | translate }}</h3>
      <label class="salary-start">{{ 'From' | translate }}:<input type="number" formControlName="from"></label>
      <label class="salary-end">{{ 'To' | translate }}:<input type="number" formControlName="to"></label>
    </div>

    <div class="conditional" formArrayName="work">
      <h3 class="sub-title">{{ 'Level of Work' | translate }}</h3>
      <div class="options-container">
        <label *ngFor="let work of workLevels; let i = index">
          <input type="checkbox" [formControlName]="i"> {{ work }}
        </label>
      </div>
    </div>

    <div class="filter-apply-btn">
      <button type="submit" translate>{{ 'Apply' | translate }}</button>
    </div>
  </form>
</div>
