<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>

    <div class="content">
      <nav>
        <ul>
          <li><a routerLink="/" class="link">{{ 'Home' | translate }}</a></li>
          <li><a href="#" class="link">{{ 'Blog' | translate }}</a></li>
          <li><a routerLink="/aboutus" class="link">{{ 'About us' | translate }}</a></li>
        </ul>
      </nav>
    </div>

    <div class="sidebar">
      <div class="language-container" [class.show-languages]="showLanguages">
        <div class="selected-language" (click)="toggleDropdown()">
          <img [src]="selectedLanguage.icon" class="lang-icon" alt="Selected Language Icon">
          <span class="lang-name">{{ selectedLanguage.name }}</span>
          <img class="arrow" src="assets/icons/arrow-down.svg" alt="Arrow">
        </div>

        <div class="language-list" *ngIf="showLanguages" (click)="toggleDropdown()">
          <div class="dropdown-item" *ngFor="let lang of languages" (click)="changeLanguage(lang.value)">
            <img [src]="lang.icon" class="lang-icon" alt="Language Icon">
            <span>{{ lang.name }}</span>
          </div>
        </div>
      </div>


      <div class="news">
        <img class="newsletter" src="assets/icons/newsletter.svg" alt="newsletter" (click)="openSubscriptionModal()">
        <span class="subscribe" (click)="openSubscriptionModal()">Subscribe</span>
      </div>

      <div class="modal" *ngIf="showSubscriptionModal">
        <div class="modal-content">
          <img class="newsletter-img" src="assets/images/newsletter.png" alt="newsletter-img">
          <span class="close-icon" (click)="closeSubscriptionModal()">
            <img class="close-img" src="assets/icons/close.svg" alt="close">
          </span>
          <h2 class="headline">Subscribe</h2>
          <p class="newsletter-text">Subscribe to our newsletter & stay updated</p>
          <form class="newsletter-form" (submit)="subscribe()">
            <input class="email-input" type="email" [(ngModel)]="email" placeholder="Enter your email">
            <button class="subscribe-btn" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</header>
