.header {
  position: sticky;
  top: 0;
  height: 150px;
  background: #FFFFFF;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #BCC1CA;

  .container {
    padding: 0 10%;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;

    .logo img {
      width: 125px;
      height: 125px;
    }

    .content {
      flex: 1;
      padding: 0 15%;

      nav ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li a {
          text-decoration: none;

          &:hover {
            color: #00BDD6;
          }
        }
      }
    }

    .sidebar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin: 0 20px;
      }

      .language-container {
        position: relative;
        display: inline-block;
        max-width: 130px;
        font-size: 20px;

        .selected-language {
          display: flex;
          align-items: center;
          cursor: pointer;
          border-radius: 8px;
          padding: 8px;
          background-color: #00BDD6;
          position: relative;

          .lang-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }

          .lang-name {
            margin-right: 30px;
          }

          .arrow {
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            transition: transform 0.3s;
          }

          &:hover .arrow {
            transform: translateY(-50%) rotate(180deg);
          }
        }

        .language-list {
          position: absolute;
          top: 30px;
          left: 0;

          display: flex;
          flex-wrap: wrap;
          background-color: #00BDD6;
          border-radius: 0 0 8px 8px;
          width: 100%;
          z-index: 1;

          &:hover {
            background-color: #17cee6;
          }

          .dropdown-item {
            display: flex;
            align-items: center;
            padding: 8px;
            cursor: pointer;

            .lang-icon {
              width: 20px;
              height: 20px;
              margin-right: 9px;
            }
          }
        }
      }

      .news- img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
