header {
  position: sticky;
  top: 0;
  height: 150px;
  background: #FFFFFF;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #BCC1CA;

  .container {
    padding: 0 190px;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;


    .logo img {
      width: 125px;
      height: 125px;
    }

    .content {
      flex: 1;
      padding: 0 150px;

      nav ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li a {
          text-decoration: none;

          &:hover {
            color: #00BDD6;
          }
        }
      }
    }

    .nav-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin: 0 20px;
      }

      .language-container {
        position: relative;
        display: inline-block;

        .current-language {
          cursor: pointer;
          position: relative;
          padding-right: 25px;
        }

        .current-language .arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }

        .language-list {
          position: absolute;
          border-radius: 10%;
          background-color: #f9f9f9;
          min-width: 100px;
          list-style-type: none;
          padding: 0;
          margin: 0;
          border: 1px solid #ccc;
          z-index: 1;


          li {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;

            &:hover {
              background-color: #ebebeb;
            }
          }
        }
      }

      .news- img {
        width: 45px;
        height: 45px;
      }

    }
  }
}
