<footer>
  <div class="container">
    <div routerLink="/" class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>

    <div class="content">
      <div class="links">
        <a href="#">Blog</a>
        <a routerLink="/aboutus">About us</a>
        <a href="#">Features</a>
        <a routerLink="/privacy">Privacy</a>
        <a routerLink="/terms">Terms</a>
      </div>
      <div class="info">
        <span class="ukraine">With pride made in Ukraine 🇺🇦</span>
        <span class="site">© 2024 Kanap.com</span>
        <span class="email">magic@kanap.com</span>
      </div>
    </div>

    <div class="social">
      <a class="item" href="https://www.linkedin.com/in/andriy-konoplastiy/" >
        <img src="assets/icons/linkedin.svg" alt="linked">
      </a>
      <a class="item" href="https://www.instagram.com/" >
        <img src="assets/icons/instagram.svg" alt="instagram">
      </a>
      <a class="item" href="https://twitter.com/" >
        <img src="assets/icons/twitter.svg" alt="twitter">
      </a>
    </div>
  </div>
</footer>
