footer {
  background-color: #ebebeb;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  .container {
    padding: 0 190px;
    height: 210px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: Montserrat, sans-serif;
    justify-content: space-between;
    border-top: 1px solid #BCC1CA;

    .logo img {
      width: 125px;
      height: 125px;
    }

    .content {
      width: 525px;
      height: 80px;
      padding: 60px 0 70px 0;

      .links {
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        a {
          text-decoration: none;
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 14px;
      }
    }

    .social {
      padding: 50px 0 120px 0;
      width: 187px;
      display: flex;
      justify-content: space-between;


      .item img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
