<footer>
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>

    <div class="content">
      <div class="links">
        <a href="#">Blog</a>
        <a href="#">About us</a>
        <a href="#">Features</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </div>
      <div class="info">
        <span class="ukraine">With pride made in Ukraine 🇺🇦</span>
        <span class="site">© 2024 Kanap.com</span>
        <span class="email">magic@kanap.com</span>
      </div>
    </div>

    <div class="social">
      <a href="#" class="item">
        <img src="assets/icons/linkedin.svg" alt="linked">
      </a>
      <a href="#" class="item">
        <img src="assets/icons/instagram.svg" alt="instagram">
      </a>
      <a href="#" class="item">
        <img src="assets/icons/twitter.svg" alt="twitter">
      </a>
    </div>
  </div>
</footer>
