.container {
  margin: 100px auto;
  font-family: Montserrat, sans-serif;
  color: #171A1F;
  max-width: 1200px;
  padding: 20px;

  h1, h2, h3, h4 {
    margin-top: 1.5em;
  }

  p {
    margin-bottom: 1.5em;
    word-wrap: break-word;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: #0066cc;
    text-decoration: none;
  }

  h2, h3 {
    margin-top: 2em;
  }

  li {
    margin-bottom: 1em;
  }

  h1 {
    text-align: center;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
