@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-typography h3 {
  margin: 0;
}
