<div class="container">

  <div class="search-bar-switch">
    <div class="search-bar-container">
      <div
        class="search-bar"
        cdkOverlayOrigin
        #overlayPosition="cdkOverlayOrigin"
        [ngClass]="{ 'opened mat-elevation-z2': overlayOpen | async}"
      >
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <input #searchInput
               [value]="searchTerm | async"
               placeholder="Search Anything You Want..."
               (click)="openOverlay()"
               (keydown.enter)="search(searchInput.value)"
        />
      </div>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="overlayPosition"
        [cdkConnectedOverlayOpen]="overlayOpen | async"
        (overlayOutsideClick)="closeOverlay()"
      >
        <app-search-overlay/>
      </ng-template>
    </div>

    <div class="switch-container">
      <button class="switch-button vacancy" (click)="flipToVacancies()" [class.active]="activeButton === 'vacancy'">
        Vacancies
      </button>
      <button class="switch-button platform" (click)="flipToPlatforms()" [class.active]="activeButton === 'platform'">
        Platforms
      </button>
    </div>
  </div>


  <div *ngIf="platforms$ | async as platform">
    <div class="list-vacancies" *ngIf="platform =='vacancies'; else Platforms">
      <div class="vacancies-container"
           *ngFor="let vacancy of vacancies | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems:totalElements}">
        <a class="vacancy_url" [href]="vacancy.urlVacancy" target="_blank">
          <div class="corner-text">{{ vacancy.sourceId.name }}</div>
          <h1 class="title">{{ vacancy.vacancyName }}</h1>
          <p class="description">{{ vacancy.shortDescription }}</p>
          <div class="info-block">
            <div class="company icon">{{ vacancy.companyName }}</div>
            <div class="location icon">{{ vacancy.cityName }}</div>
            <div class="date icon">{{ vacancy.date }}</div>
          </div>
        </a>
      </div>
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>

    <ng-template class="list-platforms" #Platforms>
      <div class="card-platform">
        <div class="platform-column" *ngFor="let platformInfo of platformsInfo">
          <app-platform-card [platformInfo]="platformInfo"></app-platform-card>
        </div>
      </div>
    </ng-template>
  </div>

</div>
