<div class="container">
  <div class="search-bar">
    <img class="search-icon" src="assets/icons/search.svg" alt="Search icon">
    <input type="text"
           placeholder="Search Anything You Want..."
           [formControl]="control"
           [matAutocomplete]="auto"
           class="search-input">
    <div class="dropdown">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
          {{language}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
