.container {
  max-width: 1100px;

  .search-bar-container {
    margin-bottom: 35px;

    :host {
      display: block;
    }

    .search-bar {
      padding: 0 56px 0 8px;
      background: #eaf1fb;
      border-radius: 32px;
      display: flex;
      align-items: center;

      > input {
        font-size: 1.1rem;
        outline: none;
        border: none;
        background: inherit;
        min-width: 1000px;
        font-family: Montserrat, sans-serif;
      }

      &.opened {
        background: #f4f6fb;
        border-radius: 22px 22px 0 0;
      }
    }
  }

  .vacancies-container {
    position: relative;
    font-family: Montserrat, sans-serif;
    padding: 20px;
    border-radius: 10px;
    border: solid #e7e6e6 1px;

    .corner-text {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
      font-size: 16px;
      width: 125px;
      background-color: #08ADA7;
      padding: 8px;
      border-radius: 0 10px 0 10px;
      box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2),
                     0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .title {
      font-size: 24px;
      font-family: Montserrat, sans-serif;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .description {
      font-family: Montserrat, sans-serif;
      max-width: 850px;
      font-size: 14px;
      word-wrap: normal;
      margin-bottom: 20px;
      color: #171A1F;
    }

    .info-block {
      display: flex;
      align-items: center;
      color: #7A532F;
      font-size: 16px;
      font-weight: 700;

      .icon::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
      }

      .company::before {
        background-image: url('/assets/icons/company.svg');
      }

      .location::before {
        background-image: url('/assets/icons/location.svg') ;
        background-size: contain ;
        width: 17px;
      }

      .date::before {
        background-image: url('/assets/icons/date.svg');
      }

      .company,
      .location,
      .date {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }
    }
  }

  .pagination-container {
    margin-top: 70px;
  }

}
